<nav class="navbar navbar-expand-lg navbar-light bg-light w-100">
    <div class="container-fluid">
      <a class="navbar-brand brand-title" href="#"><i class="fa-solid fa-house"></i>MyProperty</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
            <form class="d-flex mx-auto" action="/search-property" method="post">
                <input class="form-control me-2" type="search" placeholder="Search property.." name="searchproperty" aria-label="Search">
                <button class="btn border-primary" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
            </form>
            <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link fw-bold" aria-current="page" href="#"><i class="fa-solid fa-user-plus"></i> Sign Up</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link fw-bold" href="#"><i class="fa-solid fa-right-to-bracket"></i> Login</a>
                </li>
            </ul>
      </div>
    </div>
</nav>