<div class="admin-panel">
    <div class="menu-toggle">
      <div class="hamburger">
        <span></span>
      </div>
    </div>
<%- include('./partials/sidebar') %>
<main class="content">
    <h1>Add Property</h1>
    <div class="d-flex align-items-center justify-content-center">
      <%- include('./partials/_addproperty_form_field') %>
    </div>
  </main>

</div>