<%- include('./partials/header.ejs') %>
<h3 class="house-type-title">For Sale</h3>
<div class="row row-cols-3 row-cols-md-4 g-4">
  <div class="col">
    <a href="#" class="card h-100 card-house">
      <img src="/img/hcon.jpg" alt="house image" />
      <div class="card-body">
        <h4 class="card-title">432 PARK AVENUE</h4>
        <p class="card-text">1 Bedroom</p>
        <p class="card-house-location">5th Broadway,New York</p>
        <p class="card-house-price">Ksh 22,393</p>
      </div>
    </a>
  </div>
</div>
